@font-face {
  font-family: "imfe";
  src: url(IMFeENrm29P.ttf) format("truetype");
}
body {
  background-color: #000000;
  color: rgba(240, 248, 255, 0.592);
  width: 100vw;
  height: 100vh;
  font-family: "imfe";
}
li.item {
  display: inline-block;
  padding-right: 30px;
  margin-top: 12px;
  font-size: 13px;
}
a {
  color: rgba(240, 248, 255, 0.592);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #610000;
  transition: 0.3s;
}

.pic-cen {
  width: 38%;
  display: flex;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 75%;
  /* glass effect */
  animation: pulsate 1.5s infinite alternate;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

.dates li {
  text-decoration: none;
  display: block;
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}

.dates {
  margin-top: 24px;
}

.pic-cen img {
  width: 80%;
  height: 80%;
  right: 10%;
  position: absolute;
  left: 10%;
  bottom: 60%;
  top: 5%;
}

@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #bc13fe,
      0 0 80px #bc13fe, 0 0 90px #bc13fe, 0 0 100px #bc13fe, 0 0 150px #bc13fe;
  }
}
@font-face {
  font-family: "imfe";
  src: url(IMFeENrm29P.ttf) format("truetype");
}
body {
  cursor: url("hugwhite.jpeg"), pointer;
  background: black;
  color: rgba(240, 248, 255, 0.592);
  width: 100vw;
  height: 100vh;
  font-family: "imfe";
  background-position: center;
  background-size: cover;
}
li.item {
  display: inline-block;
  padding-right: 30px;
  margin-top: 12px;
  font-size: 13px;
}
a {
  cursor: url("hugwhite.jpeg"), pointer;
  color: rgba(240, 248, 255, 0.592);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #610000;
  transition: 0.3s;
}

.pic-cen {
  width: 38%;
  display: flex;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 75%;
  /* glass effect */
  border: 0.1rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 0.2rem rgb(154, 154, 154), 0 0 0.2rem rgb(154, 154, 154),
    0 0 1rem rgb(154, 154, 154), 0 0 0.8rem rgb(154, 154, 154),
    0 0 1.8rem rgb(154, 154, 154), inset 0 0 0.9rem rgb(154, 154, 154);
  overflow: hidden;
}

.dates li {
  text-decoration: none;
  display: block;
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}

.dates {
  margin-top: 24px;
}

.pic-cen img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
